:root {
    --color-black: #222;
    --btn-GW-gradient: linear-gradient(90deg,chartreuse 10%, #fff 100%);
    --color-BTN: chartreuse ;
    --color-background-dark: #041010;
    --color-fonts: beige;
    --color-searchbar: #6a5a90;
}
  