@import './CSS_elements/vars.css';

/* .navbarDiv {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--color-searchbar);
        width: 99%;
        margin-left: 0.5%;
        margin-top: 8px;
        border-radius: 5px;   
        
} */

.navbarDiv button{
        padding: 5px;
        margin: 10px;
        border-radius: 5px;
        background-color: var(--color-BTN);
        font-size:large;
        font-weight: bold;
        width: 150px;
        border-color: black;
}

.navbarDiv button:hover {
        transform: scale(1.05);
	transition: all 0.5s ease-in-out;
        cursor: pointer;
}
