@import './CSS_elements/vars.css';

.h1 {
    text-align: center;
}

.addVGgeneral {
    color: var(--color-Green-Boxes);
}

.error {
    color: var(--color-Error-Text);
    font-weight: lighter;
    font-size: 80%;
}

.formDiv {
    display: flex;
    justify-content: center;
    
    
}

.genresDiv {
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width:650px;
    margin-bottom: 30px;
}

.platformsDiv {
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 100px;
    margin-left: 132px;

    
}

.checkbox {
    background-color: red;
    margin-top: 10px;

}

.inputDiv { 
    padding: 20px;
}

.ratingDiv {
    padding: 20px;
}

.boxes {
    background-color: var(--color-inputs);
    border-radius: 6px;
}

.boxesDescription {
    
    margin-top: 20px;
    
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width:650px;
    border-radius: 10px;
    background-color: var(--color-inputs);
    
    overflow-y: scroll;
    

}

h3 {
    margin-right: 100px;
}

label {
    margin-right: 2px;
    margin-left: 12px;
}

.submitBTN {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--color-BTN);
    font-size:large;
    font-weight: bold;
    width: 100px;
    border-color: black;
}

.submitBTN:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}